<header>
  <nav class="navbar">
    <div class="topnavi">
      <!-- <a class="navbar-brand" routerLink="/">Test</a> -->
      <title>DrinkingCard</title>
      <a routerLink="/hjem" routerLinkActive="active">Hjem</a>
      <a routerLink="/alko" routerLinkActive="active">Alkohol</a>
      <a routerLink="/alkofri" routerLinkActive="active">Alkohol Fri</a>
      <form [formGroup]="createUserForm"
      (ngSubmit)="onSubmit()">
        <button type="button" class="create" (click)="onSubmit()">Opret</button>
      </form>
      <form>
        <button type="button" class="login">Login</button>
      </form>
    </div>
  </nav>
</header>
