<header>
  <nav class="overflow-hidden bg-gray-500 m-0 py-7">
    <div class="container mx-auto float-left text-center font-mono no-underline px-3 flex space-x-6 text-lg text-white">
      <!-- <a class="navbar-brand" routerLink="/">Test</a> -->
      <title>DrinkingCard</title>
      <img class="logo" src="/photo/screamingcowboylol.jpg">
      <a routerLink="/hjem" routerLinkActive="active">Hjem</a>
      <a routerLink="/alko" routerLinkActive="active">Alkohol</a>
      <a routerLink="/alkofri" routerLinkActive="active">Alkohol Fri</a>

      <form [formGroup]="createUserForm"
        (ngSubmit)="onSubmit()">
        <button type="button" (click)="onSubmit()" class="bg-blue-500 hover:bg-blue-700
        text-white font-bold py-1 px-4 rounded-full">Opret</button>
      </form>
      <form>
        <button type="button" (click)="onSubmit()" class="bg-blue-500 hover:bg-blue-700
        text-white font-bold py-1 px-4 rounded-full">Login</button>
      </form>

    </div>
  </nav>
</header>
