/* .navbar{
  background-color: #52595D;
  overflow: hidden;
} */
.logo{
  float: left;
}
/* .topnavi a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: large;
} */
.topnavi a:hover{
  background-color: #ddd;
  color: black;
}
/* .topnavi a.active{
  background-color: #04AA6D;
} */
/* .create{
  background-color: #00BFFF;
  border-radius: 0.5rem;
  font-size: 1rem;
  text-align: center;
  float: right;
} */
/* .login{
  background-color: #00BFFF;
  border-radius: 0.5rem;
  font-size: 1rem;
  text-align: center;
  float: right;
} */
