<div class="bg-gray-300 justify-items-center min-h-screen">
<div class="" *ngIf="drink">
  <br>
  <br>
  <h1 class="text-3xl text-center font-mono">Opret ny drink</h1>
  <br>
  <br>
  <form #drinkForm="ngForm" class="justify-center">
    <div class="mb-3">
      <label class="form-label">Oprettet af</label>
      <input type="text" class="form-input" name="author" [(ngModel)]="drink.author">
    </div>
    <div class="mb-3">
      <label class="form-label">Titel</label>
      <input type="text" class="form-input" name="title" [(ngModel)]="drink.title">
    </div>
    <div class="mb-3">
      <label class="form-label">Beskrivelse</label>
      <textarea name="description" class="form-control" [(ngModel)]="drink.description"></textarea>
    </div>
    <div class="mb-3">
      <input type="file" name="featuredimageurl" [(ngModel)]="drink.featuredImageUrl">
    </div>
    <div class="mb-3">
      <label class="form-label">Ingredienser</label>
      <input type="text" class="form-input" name="ingredients" [(ngModel)]="drink.ingredients">
    </div>
    <!-- <div class="mb-3">
      <label class="form-label">Alkohol Type</label>
      <select [(ngModel)]="drink.alcoholType">
        <option *ngFor="let type of drink.alcoholType | keyvalue" [value]="type.value">{{type.key}}</option>
      </select>
    </div> -->
    <!-- <div class="mb-3 justify-center">
      <label class="form-label">Type af alkohol</label>
      <input type="text" class="form-input" name="alcoholtype" [(ngModel)]="drink.alcoholType">
    </div> -->
    <button class="bg-blue-500 hover:bg-blue-700
    text-white text-lg font-mono py-1 px-4 rounded-full justify-items-center" (click)="createDrink()">Opret</button>
  </form>
</div>
</div>
