<div class="bg-gray-300 min-h-screen flex justify-center items-center">
  <div class="text-center">
    <h1 class="text-3xl font-mono mb-8">Opret drink</h1>
    <form #drinkForm="ngForm" class="max-w-md mx-auto">
      <div class="mb-6">
        <label class="block text-white font-medium mb-2">Titel</label>
        <input type="text" class="form-input rounded-lg p-3 w-full" name="title" placeholder="Titel" [(ngModel)]="zeroDrink.title">
      </div>
      <div class="mb-6">
        <label class="block text-white font-medium mb-2">Beskrivelse</label>
        <textarea name="description" class="form-textarea rounded-lg p-3 w-full" placeholder="Beskrivelse" [(ngModel)]="zeroDrink.description"></textarea>
      </div>
      <div class="mb-6">
        <label class="block text-white font-medium mb-2">Ingredienser</label>
        <textarea name="ingredients" class="form-textarea rounded-lg p-3 w-full" placeholder="Ingredienser" [(ngModel)]="zeroDrink.ingredients"></textarea>
      </div>
      <div class="mb-6">
        <input type="file" accept=".jpg,.png" (change)="onSubmitFeaturedImage($event)" class="form-input w-full">
      </div>
      <button class="bg-blue-500 hover:bg-blue-700 text-white text-lg font-mono py-2 px-6 rounded-full">Opret</button>
    </form>
  </div>
</div>
