<div class="bg-gray-300">
    <div class="bg-gray-300 justify-center">
    <div class="" *ngIf="zeroDrink">
      <br>
      <br>
      <h1 class="text-3xl text-center font-mono">Opret drink</h1>
      <br>
      <br>
      <form #drinkForm="ngForm" class="justify-center">
        <div class="mb-3">
          <label class="form-label">Oprettet af</label>
          <input type="text" class="form-input" name="author" [(ngModel)]="zeroDrink.author">
        </div>
        <div class="mb-3">
          <label class="form-label">Titel</label>
          <input type="text" class="form-input" name="title" [(ngModel)]="zeroDrink.title">
        </div>
        <div class="mb-3">
          <label class="form-label">Beskrivelse</label>
          <textarea name="description" class="form-control" [(ngModel)]="zeroDrink.description"></textarea>
        </div>

        <div class="mb-3">
          <input type="file" name="featuredimageurl" [(ngModel)]="zeroDrink.featuredImageUrl">
        </div>
        <button class="bg-blue-500 hover:bg-blue-700
        text-white text-lg font-mono py-1 px-4 rounded-full justify-items-center" (click)="createDrink()">Opret</button>
      </form>
    </div>
    </div>
    </div>
