<div class="bg-gray-300 text-center py-7 min-h-screen">
  <div class="py-3">
    <p class="text-2xl font-mono underline">Anbefalede Drinks</p>
  </div>
  <div class="py-3">
    <p class="text-2xl font-mono underline">Alkoholiske drinks</p>
  </div>

  <div class="grid grid-cols-4 gap-4">
    <!-- Alcoholic Drinks -->
    <div *ngFor="let drink of drinks">
      <div class="rounded-lg shadow-lg px-6 py-4 bg-white shadow-slate-700 overflow-auto h-72 ml-10">
        <img [src]="drink.featuredImageUrl" alt="Mojito" class="h-24">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">{{ drink.title }}</div>
          <p class="text-gray-700 text-base">Lavet af: {{ drink.author }}</p>
          <p class="text-gray-700 text-base">{{ drink.description }}</p>
          <p class="text-gray-700 text-base">{{ drink.ingredients }}</p>
        </div>
      </div>
    </div>
  </div>
    <div class="py-3">
      <p class="text-2xl font-mono underline">Non-Alkoholiske drinks</p>
    </div>

    <!-- Non-Alcoholic Drinks -->
    <div class="grid grid-cols-4 gap-4">
    <div *ngFor="let drink of drinkszero">
      <div class="rounded-lg shadow-lg px-6 py-4 bg-white shadow-slate-700 overflow-auto h-72 ml-10">
        <img [src]="drink.featuredImageUrl" class="h-24">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">{{ drink.title }}</div>
          <p class="text-gray-700 text-base">Lavet af: {{ drink.author }}</p>
          <p class="text-gray-700 text-base">{{ drink.description }}</p>
          <p class="text-gray-700 text-base">{{ drink.ingredients }}</p>
        </div>
      </div>
    </div>
  </div>
  </div>
