<div class="bg-gray-300 text-center py-7">
  <!-- <div id="sliderDrinks" class="carousel slide relative" data-bs-ride="carousel"> -->

    <p class="text-lg font-mono">Anbefalet Drinks</p>
  <!-- <div class="carousel-indicators absolute right-0 bottom-0 left-0 flex justify-center p-0 mb-4">
    <button
    type="button"
    data-bs-target="#sliderDrinks"
    data-bs-slide-to="0"
    class="active"
    aria-current="true"
    aria-label="Slide 1">
    </button> -->
    <div *ngFor="let drink of drinks">
      <!-- <h1>ID: {{drink.alcoId}}</h1> -->
      <h1>Udgivet af: {{drink.user.author}}</h1>
      <h1>Titel: {{drink.title}}</h1>
      <h1>Styrke: {{drink.strength}}</h1>
      <h1>Beskrivelse: {{drink.description}}</h1>
      <h1>Ingredienser: {{drink.ingredients}}</h1>
      <h1>Alkohol Type: {{drink.alcoholType}}</h1>
      <h1>Synlighed: {{drink.visible}}</h1>
      <h1>Bruger: {{drink.user}}</h1>
      <h1>Slået op: {{drink.publishDate}}</h1>
      <h1>Opdateret: {{drink.updatedDate}}</h1>

      <p>Her har jeg prøvet med User klassen</p>

      <div *ngFor="let user of users">
        <h1>user: {{user.userName}}</h1>
        <h1>password: {{user.passwordHash}}</h1>
        <h1>userid {{user.userId}}</h1>
        <h1>roleId {{user.roleId}}</h1>
        <h1>role {{user.role}}</h1>
      </div>
<!-- <div *ngFor="let drinks of alcoholDrinks">
  <h1>{{drinks}}</h1>
</div> -->
    </div>
  </div>
<!-- </div> -->
<!-- </div> -->
