<div class="bg-gray-300 py-7">
  <p class="text-center">alcohol works!</p>
  <div class="grid grid-cols-4 gap-4">
    <div class="max-w-sm rounded overflow-hidden shadow-lg  px-6 py-4 bg-white shadow-slate-700">
      <img src="../../assets/photo/mojito-cocktail.png" alt="Mojito" class="h-13">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">  Mojito</div>
        <p class="text-gray-700 text-base">
          <li> 5 cl lys rom.</li>
          <li>1 tsk sukker.</li>
          <li>1 håndfuld frisk mynte.</li>
          <li>1 lime, skåret i både.</li>
          <li>2 dl isterninger der er knuste.</li>
          <li>Danskvand til at toppe med.</li>
        </p>
      </div>
    </div>
    <div class="max-w-sm rounded overflow-hidden shadow-lg  px-6 py-4 bg-white shadow-slate-700">
      <img src="../../assets/photo/mojito-cocktail.png" alt="Mojito" class="h-13">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">  Mojito</div>
        <p class="text-gray-700 text-base">
          <li> 5 cl lys rom.</li>
          <li>1 tsk sukker.</li>
          <li>1 håndfuld frisk mynte.</li>
          <li>1 lime, skåret i både.</li>
          <li>2 dl isterninger der er knuste.</li>
          <li>Danskvand til at toppe med.</li>
        </p>
      </div>
    </div>
    <div class="max-w-sm rounded overflow-hidden shadow-lg  px-6 py-4 bg-white shadow-slate-700">
      <img src="../../assets/photo/mojito-cocktail.png" alt="Mojito" class="h-13">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">  Mojito</div>
        <p class="text-gray-700 text-base">
          <li> 5 cl lys rom.</li>
          <li>1 tsk sukker.</li>
          <li>1 håndfuld frisk mynte.</li>
          <li>1 lime, skåret i både.</li>
          <li>2 dl isterninger der er knuste.</li>
          <li>Danskvand til at toppe med.</li>
        </p>
      </div>
    </div>
    <form>
      <button type="button" (click)="createDrink()" class="bg-blue-500 hover:bg-blue-700
      text-white text-lg font-mono py-1 px-4 rounded-full justify-items-center">Opret Drink</button>
    </form>
</div>
</div>
