<body class="bg-gray-300 py-7 min-h-screen">
    <div class="py-3">
      <p class="text-center text-2xl py-3">
        Cards over alkoholiske Drinks
        <br>
        <button type="button" (click)="showSearch = !showSearch" class="bg-blue-500 hover:bg-blue-700 text-white text-lg font-mono py-1 px-4 rounded-full justify-items-start">
          <svg class="w-6 h-6 inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
        </button>
        <input *ngIf="showSearch" type="text" [(ngModel)]="searchValue" (input)="searchDrinks()" placeholder="Search..." class="px-4 py-2 text-lg rounded-md border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
      </p>
    </div>
  <form class="float-right m-7" *ngIf="users">
    <button type="button" (click)="createDrink()" class="bg-blue-500 hover:bg-blue-700
      text-white text-lg font-mono py-1 px-4 rounded-full justify-items-center" *ngIf="users">Opret Drink</button>
  </form>
  <!-- <input type="text" class="mb-2" [(ngModel)]="searchValue" (input)="searchDrinks()" placeholder="Search..."> -->
  <div class="grid grid-cols-4 gap-4 mx-auto">
    <div *ngFor="let drink of drinks">
    <div class="rounded-lg shadow-lg  px-6 py-4  bg-white shadow-slate-700 overflow-auto h-72 ml-10">
      <img [src]="drink.featuredImageUrl" alt="NO PHOTO" class="h-24">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2"> Titel: {{ drink.title }}</div>
        <p class="text-gray-700 text-base">
          Lavet af: {{drink.author}} <br>
        </p>
        <p class="text-gray-700 text-base">
          <p>Beskrivelse: {{drink.description}}</p><br>
          <p>Ingredienser: {{drink.ingredients}}</p><br>
          <p>Dato: {{drink.publishDate}}</p>
          <button type="button" *ngIf="userId == drink.authorId" (click)="editDrink(drink.id)" class="bg-blue-500 hover:bg-blue-700
          text-white text-m font-mono py-1 px-4 rounded-full justify-items-center">Ændre</button>
          <button type="button" *ngIf="userId == drink.authorId" (click)="deleteDrink(drink.id)" class="bg-red-400 hover:bg-red-700
          text-white text-m font-mono py-1 px-4 rounded-full justify-items-center">Slet</button><br>

          <div *ngFor="let rating of ratings">
            <div *ngFor="let user of users">
              <p *ngIf="rating.drinkId === drink.id && rating.userId === user.id">{{ rating.userId === user.id ? user.username: 'null' }}: {{ rating.comment }}</p>
            </div>
          </div>

          <textarea *ngIf="userId" [(ngModel)]="ratingComment.comment" placeholder="Skriv en kommentar" class="border border-black p-2"></textarea>
          <button *ngIf="userId" type="button" (click)="postComment(drink.id)" class="bg-blue-500 hover:bg-blue-700 text-white text-m font-mono py-1 px-4 rounded-full justify-items-center">
            Kommenter
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
